@{
    ViewData["Title"] = "";
}
@model List<Post>


<div class="container">
    <div class="col-lg-8">
        @foreach (Post post in Model.Where(p => !p.IsInfo))
        {

            <div class="panel-info">
                <div class="panel-heading">
                    @post.Title
                </div>
                <div class="panel-body">
                    @if (post.Content.ToString().Length >= 288)
                    {
                        @Html.Raw(post.Content.ToString().Substring(0, 288))
                        @("...")

                    }
                    else
                    {
                        @Html.Raw(post.Content)
                    }
                </div>
            </div>


        }
    </div>
    <div class="col-lg-4">
        @foreach (Post post in Model.Where(p => p.IsInfo))
        {

            <div class="panel-default">
                <div class="panel-heading">
                    @post.Title
                </div>
                <div class="panel-body">
                    @Html.Raw(post.Content)
                </div>
            </div>

        }
    </div>
</div>

