@model IEnumerable<Glob.Data.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Postitused</h2>

<p>
    <a asp-action="Create">Uus Postitus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Pealkiri
                </th>
                <th>
                   
                </th>
                <th>
                   Kuupäev
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
